body {
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	background-size: cover;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 30px rgba(0,0,0, 0.35);
	margin: 40px auto;
	max-width: 600px;
	min-height: 230px;
}
header {
	background: #333 url(../img/noisy_net.png) left top repeat;
	border-radius: 4px 4px 0 0;
	box-sizing: border-box;
	padding: 20px 20px;
	width: 100%;
}
header:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	float: left;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.button {
	background-color: #5AB953;
	border-radius: 3px;
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	float: right;
	margin-top: 2px;
	padding: 4px 11px;
	text-decoration: none;
	text-transform: uppercase;
}
.button:hover {
 	background-color: #61c359;
}
#note-list {
	margin: 0; 
	padding:  0;
}
.note-list__item {
	border-top: 1px solid #eee;
	list-style-type: none;
	padding: 25px 80px 25px 20px;
	position: relative;
}
.note-list__item h2 {
	color: #222;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
.note-list__item p {
	color: #777;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}
p.author {
	font-size: 12px;
	color: #aaa;
	margin-bottom: 10px;
}
.controls {
	position: absolute; 
	right: 20px;
	top: 15px;
}
.controls  a {
    	text-decoration: none;
}
.controls a:hover .fa {
    	color: #111;
}
.controls .fa {
	color: #ccc;
	display: block;
	font-size: 18px;
	padding: 10px 5px;
}
label {
	display: block;
	width: 100%;
}
label:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
label b {
	float: left;
	margin-right: 5%;
	text-align: right;
	width: 20%;
}
label input, label textarea {
	box-sizing: border-box;
	padding: 7px;
	width: 75%;
}
label textarea {
	min-height: 100px;
}
.reveal-modal h2 {
	color: #333;
	font-size: 26px;
	font-weight: 400;
	margin-top: 0;
	text-align: center;
}
.reveal-modal form {
	margin: 30px 0;
}
.reveal-modal .button {
	font-size: 12px;
	font-weight: 400;
	padding: 1em 1.5em;
}